@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    scroll-behavior: smooth;
  }
  
}


.shadow-map-card{
  box-shadow: -10px 15px 0px #00AA13;
}

.shadow-btn-landing{
  box-shadow: 0px 5px 0px #116530;
}

.shadow-btn-landing:focus{
  box-shadow: none;
  transform: translateY(5px);
}

.shadow-auth-box{
  box-shadow: -10px 15px 0px #116530;
}

.shadow-mapbox-ctrl{
  box-shadow: 0px 6px 0px #C5C5C5;
}


.form-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  
}

.animate-scale-up {
  animation-duration: 0.2s;
  animation-name: scale-up;
  animation-timing-function: ease-in;
}


.mapboxgl-ctrl{
  min-width: 0px !important;
  box-shadow: none !important;
  @apply md:text-base flex items-center text-sm h-10 md:w-full font-medium py-3 pl-0 focus:outline-none focus:border-none outline-none border-none  !important
}

.mapboxgl-ctrl-geocoder--icon{
  top: 10px !important;
  fill: black !important;
  
}

.mapboxgl-ctrl input{
  @apply h-full flex !important
}

.mapboxgl-ctrl svg{
  @apply w-5 h-5 m-auto !important
}



#type-animate{
  animation-name: word-ping;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes scale-up {
    from{
      transform:scale(0)
    }

    50%{
      transform:scale(1.5)
    }
    to{
      to:scale(1)
    }
}

@keyframes word-ping{
  from{
    border-right-color: #03C88E;
  }
  to{
    border-right-color: black;
  }
}